    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* Start Variables*/
    
     :root {
        --main-color: #eee;
    }
    
    body {
        font-family: 'Work Sans', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .special-heading {
        color: #ebeced;
        font-size: 100px;
        text-align: center;
        font-weight: 800;
        letter-spacing: -3px;
        margin: 0;
    }
    
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Small Screen */
    
    @media(min-width:768px) {
        .container {
            width: 750px;
        }
    }
    /* Midem Screen */
    
    @media(min-width:992px) {
        .container {
            width: 970px;
        }
    }
    /* large Screen */
    
    @media(min-width:1200px) {
        .container {
            width: 1170px;
        }
    }
    
    .header {
        padding: 10px;
        background-color: var(--main-color);
    }
    
    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header .logo {
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: rgb(18, 62, 128);
    }
    
    .links ul {
        list-style: none;
        display: flex;
        gap: 25px;
    }
    
    .links ul a {
        text-decoration: none;
        color: rgb(18, 62, 128);
    }
    
    .links ul a:hover {
        background-color: rgb(18, 62, 128);
        color: white;
        padding: 10px;
        border-radius: 3px;
    }
    /*============== Start Landing Section================ */
    
    .landing {
        background-image: url(../images/rear-view-programmer-working-all-night-long_1098-18697-4.jpg);
        background-size: cover;
        height: calc(100vh - 64px);
        position: relative;
    }
    
    .landing .intro-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 420px;
        max-width: 100%;
    }
    
    .landing .intro-text h1 {
        margin: 0;
        color: white;
        font-weight: bolder;
        font-size: 40px;
    }
    
    .landing .intro-text p {
        font-size: 17px;
        line-height: 1.2;
        text-align: center;
        color: white;
    }
    
    .landing .intro-text input {
        background-color: rgb(251, 64, 64);
        color: #eee;
        border: none;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .landing .intro-text input:hover {
        background-color: rgb(251, 144, 130);
    }
    
    .landing .me {
        position: absolute;
        left: 30%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 200px;
        max-width: 100%;
        border-radius: 50%;
    }
    /* Start Section About me */
    
    .about {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .about .about-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top: 100px;
    }
    
    .image img {
        width: 200px;
        border-radius: 3px;
    }
    
    .image::before {
        content: "";
        position: absolute;
        width: 210px;
        height: 250px;
        background-color: rgb(124, 166, 230);
        z-index: -1;
    }
    
    .abo .text p {
        font-size: 18px;
        font-weight: 700;
    }
    
    .abo .text p span {
        color: rgb(18, 62, 128);
    }
    /* End About Section */
    /*======= Start Motivationl Section ====== */
    
    .Motivational {
        width: 100%;
        min-height: 100vh;
        background-color: rgb(135, 135, 232);
    }
    
    .Motivational .container {
        width: 80%;
        display: flex;
        margin: auto;
        padding-top: 100px;
        justify-content: space-between;
    }
    
    .image-Geeks {
        float: right;
        width: 40%;
        margin-top: 70px;
    }
    
    .image-Geeks img {
        width: 100%;
        height: auto;
        border-radius: 4%;
    }
    
    .Motivational-content .title {
        text-transform: uppercase;
        font-size: 28px;
    }
    
    .Motivational-content .content h3 {
        margin-top: 20px;
        color: rgb(128, 23, 0);
        font-size: 23px;
    }
    
    .Motivational-content .content p {
        margin-top: 10px;
        font-size: 17px;
        line-height: 1.5;
        font-weight: 400;
    }
    
    .Motivational-content .content .button a {
        background-color: rgb(251, 64, 64);
        padding: 12px 25px;
        text-decoration: none;
        color: white;
        font-size: 17px;
        letter-spacing: 1.5px;
        border-radius: 10px;
    }
    
    .Motivational-content .content .button {
        margin-top: 15px;
    }
    
    .Motivational-content .content .button a:hover {
        background-color: rgb(251, 144, 130);
    }
    
    .social i {
        margin-top: 30px;
        color: white;
        padding: 0 10px;
        font-size: 25px;
    }
    
    .social i:hover {
        color: rgb(251, 144, 130);
    }
    /*======= End Motivationl Section ====== */
    /*============== Start Contact me ========= */
    
    .container .contact-box {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 100px;
        margin: 20px auto;
    }
    
    .contact-box {
        max-width: 850px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    }
    
    .right {
        padding: 25px 40px;
    }
    
    h2 {
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 10px;
    }
    
    h2:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: #2e58cc;
    }
    
    .field {
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: rgba(230, 230, 230, 0.6);
        padding: 13px 26px;
        font-size: 15px;
        margin-bottom: 22px;
        transition: .3s;
    }
    
    .field:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    textarea {
        min-height: 150px;
    }
    
    .btn {
        width: 100%;
        padding: 13px 26px;
        background-color: #2e97cc;
        color: #fff;
        font-size: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .3s;
    }
    
    .btn:hover {
        background-color: #27ae60;
    }
    
    .field:focus {
        border: 2px solid rgba(30, 85, 250, 0.47);
        background-color: #fff;
    }
    /* ============== End Contact me ========= */
    /*========== Start Footer Section ======== */
    
    .footer {
        padding: 10px;
        background-color: royalblue;
    }
    
    .footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer .copy {
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }
    
    .link ul {
        list-style: none;
        display: flex;
        gap: 25px;
    }
    
    .link ul a {
        text-decoration: none;
        color: rgb(18, 62, 128);
    }
    
    .link ul a i {
        color: white;
        font-size: 22px;
    }
    
    .link ul a i:hover {
        color: rgb(251, 144, 130);
    }
    /* ========== End Footer Section ====== */